$columns-number: 12;

.slc-row {
	gap: 32px min(32px, calc(100vw / 12));
}

.slc-row-small-gap {
	gap: 4px;
}

.slc-row,
.slc-row-small-gap {
	display: grid;
	grid-template-columns: repeat($columns-number, minmax(0, 1fr));

	> * {
		grid-column: span $columns-number;
	}

	@for $i from 1 through $columns-number {
		> .col-#{$i}

 {
			grid-column: span $i;
		}
	}

	@media screen and (width <= 640px) {
		column-gap: 0;
	}
}
